body,html{
    height:100%;
    margin:0;
    font: italic small-caps bold 16px/2 Georgia, serif;
    
}
.iit {
    position:absolute;
    top:20px;
    right:20px;
}
.sntc{
    position:absolute;
    top: 20px;
    left: 20px;
}
main{
    display:none;
}
@media all and (min-width: 900px){
    .largeScreen{display:block;}
    .smallScreen{display:none;}
}
@media all and (max-width: 900px){
    .smallScreen{display:block;}
    .largeScreen{display:none;}
} 
@media all and (max-width: 330px){
    overflow: auto;
    white-space: nowrap;
}
*{box-sizing:border-box;}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    background: linear-gradient(rgba(0,0,0,0.5)), rgba(0,0,0,0.5) url("./images/Favicon/Logo.png");
    background-position: center;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 40px;
    width:device-width;
    height: 100vh;
    z-index: 9999;
}
.hero-content{
    color: rgb(232,83,63);
    font-weight: 900;
    position:absolute;
    bottom:50vh;
    left:50%;
    transform: translate(-50%,50%);
}
.hero-button{
    margin-top: 5vh;
}
button{
    margin-top:10vh;
    background-color: black;
    margin:0;
    padding: 10px;
    border: 2px solid rgb(232,83,63);
    color: rgb(232,83,63);
    font-weight: 700;
    font-size: 40px;
    border-radius: 50px;
}
.slideshow-container{
    background-color: #000;
    color: red;
    width: device-width;
    height: 100vh;
    width:device-width;
    margin:0;
    padding:0;
}
.mySlides{
    margin:0;
    padding:0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#im1{
    background-image: url("./images/Favicon/Logo.png");
}
#im2{
    background-image: url("./images/projects/RC Hovercraft.jpg");
}
#im3{
    background-image: url("./images/projects/rcPlane.jpg");
}
#im4{
    background-image: url("./images/events/yard.jpg");
}

.prev, .next{
    
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 38px;
    transition: 0.6s ease-out;
    border-radius: 0, 3px 3px 0;
    user-select: none;
}

.next{
    right:0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.5);
}
.sliderIndex{
    align-items:center;
    position: absolute;
    top: 90vh;
    left:50%;
    right:auto;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px;
    border: 10px solid rgba(200,200,200,0.2);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot.active,.dot:hover{
    background-color: #737373;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s ease-in;
}
@-webkit-keyframes fade {
    from {opacity: 1}
    to {opacity: 0.9}
}   
@keyframes fade {
    from {opacity: 1}
    to {opacity: 0.9}
}
nav{
    background:#000;
    color:red;
}
nav a{
    text-decoration: none;
    color:rgb(250,90,90);
    margin: 5px;
}
#aboutUs,#projects,#team,#events{
    border-style:none;
    background: #e3e3e3;
    border-top:10vh solid #fff;
    text-align:center;
    width:80%;
    position:relative;
    left: auto;
    right: auto;
    padding: 30px 30px;
}

h1{
    color:rgb(232,83,63);
    text-align:center;
}
.nav-tabs{
    margin:50px 0vw;
    padding:5px;
    width: 100%;
    position: relative;
    left: auto;
    right:auto;
    background: #000;
    border-radius: 40px;
}
.nav-tabs a{
    color: rgb(232,83,63);
    margin:5px;
} 
.nav-tabs a:hover{
    border-style: none;
}
.nav ul a.active{
    background: #111;
    transform: scale(1.2);
}
.nav-brand{
    border: 5px solid black;
    border-radius: 50%;
}
#projects .card,#events .card
{   top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px -10px black;
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 350px;
    height: 400px;
    margin: 20px;
    padding: -50px 0px;
     /* stack each div horizontally 
    */
    display: inline-block;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
#projects .details h3, #team .details h3
{   
    position: relative;
    font-size: 100%;
    text-align: center;
    font-style: italic;
}
#projects .details p, #events .details p
{   
    position: relative;
    top: 10%;
    font-size: 100%;
    text-align: center;
    font-style: italic;
    font-weight: bolder;

    
}
/* style the maincontainer class with all child div's of class .front */
#projects .card > .image, #events .card > .image{
    position: absolute;
    transform: perspective(600px) translateX(0%);
    
    width: 350px;
    height: 350px;
 /* cant see the backside elements as theyre turning around */
    
    transition: transform .3s linear 0s;
}
/* style the maincontainer class with all child div's of class .back */
#projects .card > .details, #events .card > .details{
    position: relative;
    text-align: center;
    transform: perspective(600px) translateX(100%);
    background: rgba(0,0,0,0.7);
    color: #fff;
    width: 350px;
    height: 350px;
    padding: 5px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .3s linear 0s;
}
#projects .card:hover > .image, #events .card:hover > .image{  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: perspective(600px);
}
#projects .card:hover > .details, #events .card:hover > .details{   
    text-align: center;
    transform: perspective(600px);
    font: monospace;
    font-style: oblique;
}
#projects .footer, #events .footer{
    text-align: center;
    font: italic small-caps bold 16px/2 Georgia, serif;
}
#team .card
{   top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px -10px black;
    overflow-x: hidden; 
    overflow-y: hidden; 
    width: 255px;
    height: 255px;
    margin: 5px;
    display: inline-block;/* stack each div horizontally */

}
#team .details p
{
    position: relative;
    font-size: 92%;
    text-align: center;
    font-style: italic;
}
/* style the maincontainer class with all child div's of class .front */
#team .card > .image
{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    
    width: 255px;
    height: 255px;
    
 /* cant see the backside elements as theyre turning around */
    transition: transform .6s linear 0s;
}
/* style the maincontainer class with all child div's of class .back */
#team .card > .details
{
    position: relative;
    top: 50%;
    text-align: center;
    transform: perspective(600px) rotateY(180deg);
    background: rgba(200,200,200,0.3);
    color: #fff;
    width: 255px;
    height: 255px;
    padding: 5px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .3s linear 0s;
}
#team .card:hover > .image
{  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: perspective(600px);
}
#team .card:hover > .details
{   
    transform: perspective(600px);
    font: monospace;
    font-style: oblique;
}
.empty{
    width:80%;
    height:10vh;
}
footer{
    display:none;
    padding-bottom:5px;
    background:#000;
    color:rgb(250,250,250);
    font-size: 16px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: rgb(232,83,63);
}
footer table{
    position:relative;
    left: 15%;
    right: 15%;
    width:70%;
}
footer th{
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(232,83,63);
}
footer td{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    font-stretch: semi-expanded; 
}
.contactUs ul, .externalLinks ul{
    list-style-type: none;
}
footer .navbar-brand{
        padding:40px 20px;
        font-size: 40px;
}
.git{
    margin-right: 10px;
}
.fb{
    margin-left: 10px;
}